.title-row .btn-group {
    margin-top: 12px;
}

.disabled {
    color: #888;
}

.auth-item-description-column {
    width: 65%;
}

.auth-actions-column {
    width: 30px;
}

.assignment-items-column {
    width: 580px;
}